$xtxColor: #2f7ec6;  // 主色，深蓝色
$helpColor: #d9534f;  // 危险色，深红色，用于提示帮助信息
$sucColor: #27a755;   // 成功色，绿色，代表成功或操作完成
$warnColor: #ffbb33;  // 警告色，黄色，用于警告提示
$priceColor: #e53935; // 错误色，深红色，用于价格或错误相关提示


